h1 {
  padding: 15px;
  background-color: rgb(192, 192, 192);
  text-align: center;
  font-size: 24px;
  font-family: "Gill Sans", san-serif;

}

.login {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}
